@using Infrastructure.ViewModels
@model StatisticsViewModel
@{
    ViewData["Title"] = "Statistics";
}

<h2 class="welcome">Most popular books</h2>
@if (Model.FavouriteBooks.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>№</th>
                <th>Book</th>
                <th>Genre</th>
                <th>Author</th>
                <th>Year published</th>
                <th>Publisher</th>
            </tr>
        </thead>
        @foreach (var item in Model.FavouriteBooks)
        {
            <tbody>
                <tr>
                    <td>@((Model.FavouriteBooks.IndexOf(item) + 1).ToString())</td>
                    <td>@item.Name</td>
                    <td>@item.Genre.Name</td>
                    <td>@item.Author.Name</td>
                    <td>@item.YearPublished</td>
                    <td>@item.Publisher.Name</td>
                </tr>
            </tbody>
        }
    </table>
}
else
{
    <p>No books found</p>
}

<h2 class="welcome">Most popular Authors</h2>
@if (Model.PopularAuthors.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>№</th>
                <th>Author</th>
                <th>Nationality</th>
            </tr>
        </thead>
        @foreach (var item in Model.PopularAuthors)
        {
            <tbody>
                <tr>
                    <td>@((Model.PopularAuthors.IndexOf(item) + 1).ToString())</td>
                    <td>@item.Name</td>
                    <td>@item.Nationality</td>
                </tr>
            </tbody>
        }
    </table>
}

@if (User.IsInRole("Admin"))
{
    <h2 class="welcome">Active Loans</h2>
    @await Html.PartialAsync("_ActiveLoanPartial",Model.ActiveLoans)
}