@model Publisher
<h2>Publisher Search Result</h2>

@if (Model == null)
{
    <p>No publishers found</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>City</th>
                <th>Country</th>
                <th>Email</th>
                <th>Year Founded</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.ID</td>
                <td>@Model.Name</td>
                <td>@Model.City</td>
                <td>@Model.Country</td>
                <td>@Model.Email</td>
                <td>@Model.YearFounded</td>
            </tr>
        </tbody>
    </table>
}

<a asp-controller="Publisher" asp-action="PublisherView">📚 Back to Publishers</a>